.que_bank {
    width: 500px;
}

.que {
    font-weight: bold;
    padding-right: 10px;
    color: #221638;
}

.score{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.ans_btn {
    width: 200px;
    margin: 20px 30px;
    padding: 10px;
    color: #221638;
    font-size: 20px;
    /* border: 3px solid  rgb(204, 203, 203); */
    border: 3px solid   rgb(253, 163, 178);
    /* margin-left: 60px; */
    border-radius: 50px;
    background-color: white;
    /* padding: 10px 70px; */
    /* display: flex; */
    align-items: center;
}

.ans_btn:hover{
    color: #221638;
    /* border: 3px  solid  rgb(66, 44, 31); */
    background-color: rgb(248, 113, 138);
    border: 3px solid  rgb(250, 44, 79);
}



.api_div{
    margin-left: 40px;
}

.api_que{
    margin-top: 20px;
}

.api_opt{
    margin-left: 40px;
}